.settings-button {
  padding-right: 30px;
}

.title {
  padding: 20px;
  display: flex;
  align-items: center;
}

.groups-icon {
  font-size: 33px;
  padding-right: 10px;
}

.logo {
  height: 200px;
  padding-right: 35px;
}

.router-link {
  text-decoration: none;
  color: black;
}
